<!DOCTYPE html>
<html>
<head>
<title>Whittier Schedule Planner</title>
<link rel='stylesheet' type='text/css' href='/static/style.css' />
<link rel='stylesheet' type='text/css' href='/static/fullcalendar/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='/static/fullcalendar/fullcalendar/fullcalendar.print.css' media='print' />
<script type='text/javascript' src='/static/fullcalendar/jquery/jquery-1.8.1.min.js'></script>
<script type='text/javascript' src='/static/fullcalendar/jquery/jquery-ui-1.8.23.custom.min.js'></script>
<script type='text/javascript' src='/static/fullcalendar/fullcalendar/fullcalendar.min.js'></script>
<style type='text/css'>

	body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>
</head>
<body>
<div id='calendar'></div>

<script type='text/javascript'>

function addMinutes(date, minutes) {
    return new Date(date.getTime() + minutes*60000);
}


	
		var date = new Date();
		var baseDate = new Date(2013, 6, 1)
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			editable: false,
			allDaySlot: false,
			minTime: 7,
			maxTime: 22,
			axisFormat: 'HH:mm',
			timeFormat: {
			    agenda: 'HH:mm{ - HH:mm}'
			},
			firstHour: 8,
			defaultView: 'agendaWeek',
			firstDay: 1,
			header: {
   				left:   '',
   				center: '',
				right:  ''
			},
			columnFormat: {
				month: 'ddd',
				week: 'dddd',
				day: 'dddd'
			},
			
			events: [
				%for aclass in classesList:
				%for aClassTime in aclass.weektime:
				{
					title: '{{aclass.name}}',
					start: addMinutes(baseDate,{{ aClassTime[0] }}),
					end: addMinutes(baseDate,{{ aClassTime[1] }}),
					allDay: false,
					url: "{{ generatePSV( set(classesReq).difference([aclass.crn]) ) }}",
					backgroundColor: '#{{colordata[aclass.deptname]}}'
				},
				%end
				%end
			]
		});
		$('#calendar').fullCalendar( 'gotoDate', 2013,6,1)

		

</script>

<h2>Currently Selected Classes</h2>
<h3>click to remove</h3>
<div id='classlist'>
%for aclass in sorted(classesList,key=lambda x:x.shortname):

<a href="{{ generatePSV( set(classesReq).difference([aclass.crn]) ) }}">
<div class="aclass" style="background: #{{colordata[aclass.deptname]}};">
{{aclass.shortname}} <br> {{aclass.name}}
%for atime in aclass.readableTimes():
<br>{{ atime[0] }} {{ atime[1][0] }}:{{ atime[1][1] }} to {{ atime[2][0] }}:{{ atime[2][1] }} 
%end
<br>with {{aclass.instructor}}
<br> CRN: {{aclass.crn}}
<br> ROOM: {{aclass.building}} {{aclass.room}}
</div>
</a>
%end
<br>Total Credits: {{totalCredits[0]}} - {{totalCredits[1]}}
%if not isValidSchedule:
<br>THIS SCHEDULE HAS CONFLICTS: <a href="../permute/{{generatePSV(classesReq)}}">PERMUTE?</a>
%end
</div>
<br>

<h2>Add Classes</h2>

<div id='colorkey'>
%sortedclasses=sorted( compatibilityData.keys() ,key=lambda x:x.shortname)
%maplist=map(lambda x:x.deptname,sortedclasses)
%for adept in sorted(colordata.keys()):
<a href="#{{sortedclasses[maplist.index(adept)].shortname}}">
<div style='background: #{{colordata[adept]}};' class='colorkeyitem'>
{{adept}}
</div>
</a>
%end
</div>

<div id='classpicker'>
%for aclass in sortedclasses:
%if aclass not in classesList:
<a href="{{generatePSV(classesReq+[aclass.crn])}}#{{sortedclasses[maplist.index(aclass.deptname)].shortname}}">
%end
<div class="aclass {{aclass not in classesList}}unique" id="{{aclass.shortname}}" style="background: #{{colordata[aclass.deptname]}};">
{{aclass.shortname}} <br> {{aclass.name}}
%if not compatibilityData[aclass]:
<br><FONT COLOR=red> CONFLICTS </FONT>
%end
%for atime in aclass.readableTimes():
<br>{{ atime[0] }} {{ atime[1][0] }}:{{ atime[1][1] }} to {{ atime[2][0] }}:{{ atime[2][1] }} 
%end
<br>with {{aclass.instructor}}
<br> CRN: {{aclass.crn}}
<br> ROOM: {{aclass.building}} {{aclass.room}}
</div>
%if aclass not in classesList:
</a>
%end

%end

</div>
<br>
(c) Avinash Vakil 2013
Licensed under GPL v3 at http://git.avinashvakil.com/whittier-schedule-planner

</body>
</html>