<!doctype html>
<head>
<title>Classes</title>
<link rel="stylesheet" href="/static/style.css" type="text/css">
</script>

</head>
<body class="menu">

%for aclass in classman.classes:
{{aclass.name}} - {{aclass.shortname}}</br>
%end

</body>