#thePrompt {
font-family:"Helvetica","Arial";
  font-style:bold;
  font-size:24px;
}

#responseBlock
{
font-family:"Helvetica","Arial";
  font-style:bold;
  font-size:24px;
}

.reactionTopLevel {
background-color:rgb(240,240,240);
  width:500px;
    line-height: 50px;
margin:0px;
  text-align:center;
  font-family:"Helvetica","Arial";
  font-style:bold;
  font-size:24px;
  display: inline-block;

  }
    
.rxnInfobox {
background-color:rgb(240,240,240);
  width:500px;
margin:0px;
padding:10px;
  text-align:left;
  font-family:"Helvetica","Arial";
  font-style:bold;
  font-size:24px;
margin-left:auto;
margin-right:auto;

  }
  


    
#centerRegion {
background-color:rgb(220,220,220);
width:200px;
}

#answerBlock {
width:400px;
  text-align:center;
margin-left:auto;
margin-right:auto;

}

#responseBlock {
width:600px;
}

img {
margin-left:auto;
margin-right:auto;
display: inline-block;
max-width:95%;

}



.reactionCenterArrowItem img {
max-width:190px
}


.reactionCenterArrowItem {
margin-left:auto;
margin-right:auto;
}

body > div {
margin-left:auto;
margin-right:auto;

    height: auto;
padding:0px;
display:block;
}

body {
padding:0px;
min-width:650px;
text-align:center;
font-family:"Helvetica","Arial";
  font-style:bold;
  font-size:24px;

}

#mainQuestionBlock {
height:auto;
width:auto;
margin-left:auto;
margin-right:auto;
text-align:center;

}

#mainQuestionBlock > table {
margin-left:auto;
margin-right:auto;
}

.reactionClass {
background-color:rgb(240,240,240);
margin-bottom: 20px;

}

.reactionVariant {
}

.variantLink {
text-align:left;

display:inline-block;
background-color:rgb(230,230,230);
}

.variantLink:hover {
text-align:left;

display:inline-block;
background-color:rgb(200,200,200);
}

.aclass {
display:inline-block;
width: 300px;
color: white;
padding: 10px;
margin: 20px;
}

.colorkeyitem {
display:inline-block;
width: 300px;
color: white;
padding: 10px;
margin: 20px;
}


.aclass:hover {
border-style:solid;
border-width:5px;
border-color:black;
margin: 15px;

}


.colorkeyitem:hover {
border-style:solid;
border-width:5px;
border-color:black;
margin: 15px;
}

.Falseunique {
border-style:solid;
border-width:5px;
border-color:orange;
margin: 15px;

}
